<div class = "home-list" > 
  <%if @message != nil%>
  <%=@message%>
  <%end%>   
    <%@homes.each do |home|%>
      <div class = "<%=home.id%>"> 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=home.title%>
                    <small><%=home.sale_price%></small>
                    <small><%=home.bedrooms%></small> 
                    <small><%=home.zip%></small>
                </h1>
            </div>
        </div> 
      </div> 
      <a class = "creator" id = "<%=home.id%>" href="/homes/<%=home.id%>/leads" class="btn btn-primary btn-lg">Request More Information</a>
    <%end%> 
</div>  